.switch {
  position: relative;
  width: 140px;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.5s;
  box-shadow: inset 0 0 5px teal;
  cursor: pointer;
}

.switch:checked:before {
  left: 66px;
}

.switch:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 72px;
  height: 36px;
  background-color: teal;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.label {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 20px;
  pointer-events: none;
  text-shadow: 2px 2px 3px teal;
}

.label__on {
  bottom: 15px;
  left: 15px;
}

.label__off {
  bottom: 15px;
  right: 14px;
}

.toggle {
  position: relative;
  display: inline;
}
